bin
pkg
vendor
vendor/
.gopath~/
tmp_gopath~/
test/
tmp/
app2/

mem.pprof

*.log
*.swp

*.syso
*.swo
*.pem
*.pub
*.p12

.DS_Store

gostyle.xml

_vendor-*

models/
client/
operations/
.vscode/

restapi/doc.go
restapi/embedded_spec.go
restapi/server.go

auth.test
jobs.test
.idea/
promote/

Metaverse.tar.gz
cluapi.tar.gz
.scannerwork/
server.pid

bdocker/
