# Configureation file
rest-server:
  version: v2
  configWatcher: true
  statisticTimer: true
server:
  location:
    tracelocation: ${CURDIR}/logs/trace.log
    serverlocation: ${CURDIR}/logs/server.log
    loglevel: info
    maxsize: 100
    maxbackups: 4
    maxage: 24
    compress: true
  service:
    - port: 8030
      type: http
    - port: 8033
      type: https
      certificate: ${CURDIR}/keys/certificate.pem
      key: ${CURDIR}/keys/key.pem
  JWT:
    issuer: Private Instance
    expire: 24d
    encrypt: true
    publicKey: ${CURDIR}/keys/key.pub
    privateKey: ${CURDIR}/keys/key.pem
  login:
    administrators: ${CURDIR}/configuration/administrator.yaml
    users: ${CURDIR}/configuration/users.yaml
    authenticationServer:
#     - type: file
#       passwordFile: ${CURDIR}/configuration/realm.properties
      - module: SELECT 1
        type: SQL
        driver: pgx
        target: postgres://<user>:<password>@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      - type: system
# prefix: /app2
  content: ${CURDIR}/static/
  plugins: ${BIN}/plugins
  shutdown:
    passcode: {}
    # Password to shutdown, will be send encrypted
database:
  modelling:
    Modeling:
      - Database: DBname
        SourceTable: xxx
        SourceField: ""
        DestinationTable: ""
        DestinationField: ""
      - Database: Bitgarten
        Name: BitgartenTitle
        SQL: "select Title from Albums"
  access:
    databases:
      - driver: postgres
        name: photodb
        target: postgres://${POSTGRES_USER}:${POSTGRES_PASS}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DATABASE}
        global_authentication: false
        tables: 
         - y*
         - v*
         - hom*
         - car*
         - ex*
         - pic*
         - album*
         - audit*
         - batch*
         - stat*
  sessionInfo:
    deleteUUID: false
    database:
        driver: postgres
        user: ${POSTGRES_USER}
        password: ${POSTGRES_PASS}
        target: ${POSTGRES_URL}
        table: "session_info"
  userInfo:
        driver: postgres
        target: ${POSTGRES_URL}
        user: ${POSTGRES_USER}
        password: ${POSTGRES_PASS}
        table: "user_info"
  batchRepository:
        driver: postgres
        user: ${POSTGRES_USER}
        password: ${POSTGRES_PASS}
        target: ${POSTGRES_URL}
        table: "batch_repo"
tasks:
  use_role: true
  directory: ${CURDIR}/log
  database:
    driver: ""
    table: Jobs
fileTransfer:
  Admin:
    role: xxx
  directories:
    directory:
      - name: download
        location: ${HOME}/Downloads
      - name: tmp
        location: ${CURDIR}/tmp
metrics: []
